
{{#if selectedRecipe}}
  <img src={{selectedRecipe.image}} class="admin-img"/>
  <h2 class="editing-item">{{selectedRecipe.title}}</h2>
  <h5><strong>Ingredients:</strong> {{selectedRecipe.ingredients}}</h5>
  <h5><strong>Directions:</strong> {{selectedRecipe.directions}}</h5>
  {{update-recipe recipe=selectedRecipe updateRecipe="updateRecipe" deleteRecipe="deleteRecipe"}}
{{/if}}


<h4 class="image-clear">Click a recipe below to edit or delete:</h4>
<ul>
  {{#each recipes as |recipe|}}
    {{#if (eq recipe selectedRecipe)}}
      <li {{action 'showRecipe' recipe}} class= "editing-item">{{recipe.title}}</li>
    {{else}}
      <li {{action 'showRecipe' recipe}}>{{recipe.title}}</li>
    {{/if}}
  {{/each}}
</ul>
