{{#if updateForm}}
  <form class="update-recipe">
    <label for="newTitle">new Title</label><br>
    {{input value=recipe.title id="newTitle"}}<br>
    <label for="newIngredients">new Ingredients</label><br>
    {{input value=recipe.ingredients id="newIngredients"}}<br>
    <label for="newDirections">new Directions</label><br>
    {{textarea value=recipe.directions id="newDirections" rows="8"}}<br>
    <button type="button" {{action "updateRecipe" recipe}}>Save</button>
  </form>
{{else}}
  <button type="button" {{action "updateForm"}}>Update</button>
{{/if}}

<button type="button" {{action "deleteRecipe" recipe}}>Delete</button>
