<h2>{{model.recipe.title}}</h2>
<h4>rating: {{comment-rating comments=model.recipe.comments}}</h4>
<img src={{model.recipe.image}} class="recipe-img"/>
<p>
  Directions:<br>
  {{model.recipe.directions}}
</p>
<br><br>
<h4>leave a comment below:</h4>
{{new-comment recipe=model.recipe newComment="newComment"}}
<br><br>
<h3>comments:</h3><hr>
{{recipe-comments recipe=model.recipe}}
